<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
          <%= link_to "Sign out", logout_path, class: "item", method: :delete %>
          <% else %>
          <%= link_to "Sign in", login_path, class: "item" %>
        <% end %>
      </div>
    </div>
    <% if !logged_in? %>
      <div>
          <%= link_to "Sign in", login_path, class: "item ui primary path" %>
      </div>
    <% end %>
  </div>